html {
  font-size: 70%;
  box-sizing: border-box;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

img {
  border-radius: 0.5rem;
}

img.medium {
  max-height: 29rem;
  width: 100%;
}

.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

#root{
  height: 100%;
}

.card-body {
  padding: 1rem;
}

.card-body>* {
  margin-bottom: 0.5rem;
}

.price {
  font-size: 2rem;
}

.rating span {
  color: #f0c040;
  margin: 0.1rem;

}

a {
  text-decoration: none;
}

a:hover {
  color: #ff8000;
}

a.brand {
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row .center {
  justify-content: center;
}

header a {
  color: #ffffff;
  padding: 1rem;
}

header {
  grid-area: header;
  background-color: #131A22;
}

main {
  grid-area: main;
  padding: 1rem;
  background-color: lightgrey;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0%;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
}

footer {
  grid-area: footer;
  background-color: #131A22;
  color: #ffffff;
}

.grid-container {
  display: grid;
  height: 100%;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
}

.rating span:last-child {
  color: #404040;
}